[submodule "ArduinoSerialDriver/vendor/spdlog"]
	path = ArduinoSerialDriver/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ArduinoSerialDriver/vendor/SerialPort"]
	path = ArduinoSerialDriver/vendor/SerialPort
	url = https://github.com/manashmandal/SerialPort
[submodule "ArduinoCode/sketch_serialReceiver/src/vendor/FastLED"]
	path = ArduinoCode/sketch_serialReceiver/src/vendor/FastLED
	url = https://github.com/FastLED/FastLED
